html, .content {
  margin: 0;
  padding: 10px;
  align-items: center;
}
canvas {
  display: block;
}

.title {
  font-size: 6em;
  font-family: monospace;
  color:midnightblue ;
}

.about {
  font-size: 2em;
  font-family: monospace;
  color: darkblue;
}